<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head-->

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/root.css" rel="stylesheet">

    <!-- Page Title -->
    <title>Jesse Paterson</title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <div id='favicon'>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="apple-touch-icon" sizes="57x57" href="http://jpaterson.design/assets/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="http://jpaterson.design/assets/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://jpaterson.design/assets/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://jpaterson.design/assets/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://jpaterson.design/assets/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://jpaterson.design/assets/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://jpaterson.design/assets/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://jpaterson.design/assets/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="http://jpaterson.design/assets/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="http://jpaterson.design/assets/favicons/manifest.json">
        <link rel="mask-icon" href="http://jpaterson.design/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="http://jpaterson.design/assets/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="http://jpaterson.design/assets/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="http://jpaterson.design/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </div>
</head>
<body>
    <!-- Sidebar -->
    <span id="sidebar" class="affix">
        <!-- Logo Start-->
        <a id="logo" href="/">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100%" height="100" viewbox="0 5 100 100" enable-background="new 0 0 109.6 106.7" xml:space="preserve" preserveAspectRatio="xMidYMin" class="logo_container">
                <g>
                  <g id="XMLID_1_">
                    <g>
                        <polygon style="fill:#842823;" points="45.3,15.4 90.3,93.3 80.3,93.3 30.3,6.7 89.7,6.7 69.7,41.3 64.7,32.7 74.7,15.4" class="logo"/>
                        <polygon style="fill:#842823;" points="19.7,6.7 69.7,93.3 10.3,93.3 30.3,58.7 35.3,67.3 25.3,84.6 54.7,84.6 9.7,6.7" class="logo"/>
                    </g>
                  </g>
                </g>
            </svg>
        </a>
        <!-- Logo End-->
        <!-- Name & Bio -->
        <h1 class="name">Jesse Paterson</h1>
        <p class="bio">
        </p>
        <!-- End of Name & Bio -->
        <!-- Navigation Start-->
        <nav>
            <ul id="isotope-filter">
                <li data-filter="*"  class="home-selector">
                    <a class="active">HOME</a>
                </li>
                <li data-filter=".code"  class="code-selector">
                    <a class="">CODE</a>
                </li>
                <li data-filter=".design" class="design-selector">
                    <a class="">DESIGN</a>
                </li>
                <li data-filter=".contact"  class="contact-selector">
                    <a class="">CONTACT</a>
                </li>
            </ul>
        </nav>
        <!-- Navigation End -->
    </span>
    <!-- Sidebar End-->
    <!-- Content Start-->
    <span id="content_container">
        <div class="grid">
            <div id='banner_image' class="grid-item width4 code design banner">
                <div class="number">-9000</div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="100%" height="300" viewbox="0 10 625 300" enable-background="new 0 0 612 792" xml:space="preserve" preserveAspectRatio="xMidYMin" style='background-color:#faf9f9;'>
                    <path fill="none" d="z"/>
                    <g id="Layer_1_1_">
                        <polygon fill="#418088" points="292.8,72.9 389.9,241.1 382.8,253.4 374,253.5 258,52.7 381.5,52.7 393.1,57.5 347.9,135.6 
                            339,135.6 331.8,123.3 361,72.9  "/>
                        <polygon fill="#842823" points="226.9,52.7 238.5,57.5 351.7,253.5 222.8,253.5 215.7,250.3 261.8,170.6 270.7,170.6 277.9,183 
                            248.7,233.3 316.9,233.3 212.6,52.7  "/>
                    </g>
                    <g id="Layer_4">
                        <polyline fill="#EED1B7" points="212.6,52.7 316.9,233.3 330.1,240.9 224.2,57.5  "/>
                        <polyline fill="#85A5AE" points="393.1,57.5 381.5,52.7 258,52.7 374,253.4 382.8,253.4 269.7,57.7    "/>
                        <polyline fill="#85A5AE" points="369.9,72.9 340.8,123.3 331.8,123.3 361,73  "/>
                        <polyline fill="#EED1B7" points="270.7,170.6 222.8,253.5 215.7,250.3 261.8,170.6    "/>
                    </g>
                    <g id="Layer_2">
                        <path fill="#EED1B7" d="M282.8,199.2"/>
                        <path fill="#EED1B7" d="M282.8,233.3"/>
                        <path fill="#EED1B7" d="M282.8,233.3"/>
                        <line fill="#EED1B7" x1="222.8" y1="253.5" x2="351.7" y2="253.5"/>
                        <line fill="#EED1B7" x1="238.5" y1="57.5" x2="351.7" y2="253.5"/>
                        <line fill="#EED1B7" x1="224.2" y1="57.5" x2="330.1" y2="240.9"/>
                        <line fill="#EED1B7" x1="212.6" y1="52.7" x2="316.9" y2="233.3"/>
                        <line fill="#EED1B7" x1="212.6" y1="52.7" x2="235.8" y2="52.7"/>
                        <polyline fill="#EED1B7" points="212.6,52.7 224.2,57.5 238.5,57.5 226.9,52.7 238.5,57.5     "/>
                        <polyline fill="#EED1B7" points="212.6,52.7 226.9,52.7 238.5,57.5 224.2,57.5    "/>
                        <path fill="#EED1B7" d="M287.2,240.9"/>
                        <path fill="#EED1B7" d="M287.2,283.8"/>
                        <path fill="#EED1B7" d="M287.2,240.9"/>
                        <path fill="#EED1B7" d="M287.2,198.1"/>
                        <line fill="#EED1B7" x1="244.3" y1="240.9" x2="277.9" y2="183"/>
                        <line fill="#EED1B7" x1="261.8" y1="170.6" x2="215.7" y2="250.3"/>
                        <line fill="#EED1B7" x1="270.6" y1="170.6" x2="222.8" y2="253.5"/>
                        <line fill="#EED1B7" x1="222.8" y1="253.7" x2="215.7" y2="250.3"/>
                        <ellipse fill="#EED1B7" cx="219.8" cy="52.7" rx="0" ry="7.2"/>
                        <line fill="#EED1B7" x1="270.7" y1="170.6" x2="277.9" y2="183"/>
                        <path fill="#EED1B7" d="M266.3,170.6c0,2.5,0,4.5,0,4.5S266.3,173.1,266.3,170.6"/>
                        <polyline fill="#EED1B7" points="330.1,240.9 244.3,240.9 248.7,233.3 316.9,233.3 330.1,240.9    "/>
                    </g>
                    <path fill="none" d="z"/>
                </svg>
            </div>

             <div id='contact'>
                <div class="grid-item contact code design width4">
                    <div class="number">6</div>
                    <div class="contact-container col-xs-12 col-sm-12 col-md-12">
                        <h2 class='four-title'>
                            Whoops... <br>
                            Looks like you found the edge of the map. <br>
                            <a href='/' id='button'>Let's get you back on track<a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Grid End -->
    </span>
    <!-- Content End -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Isotope -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/jquery.isotope.js"></script>
<!-- Nodemailer -->
<script src="assets/js/nodemailer.js"></script>
<script src="assets/js/mailer.js"></script>
</body>
</html>
