<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head-->

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/css/index.css" rel="stylesheet">

    <!-- Page Title -->
    <title>Jesse Paterson</title>

    <!-- Favicon -->
    <div id='favicon'>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="apple-touch-icon" sizes="57x57" href="../assets/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../assets/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../assets/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../assets/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../assets/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="../assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../assets/favicons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="../assets/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../assets/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="../assets/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="../assets/favicons/manifest.json">
        <link rel="mask-icon" href="../assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="../assets/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="../assets/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="../assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </div>

</head>

<!-- Navigation -->
<nav id="sidenav" class="sidebar" onClick="openNav()">
    <a id="navbtn" onClick="openNav()">
        <div id="logo">
            <img src="../assets/images/logos/logo_red.svg"></img>
        </div>
        <div id="X">
            <img src="../assets/images/logos/X_red.svg"></img>
        </div>
    </a>
    <div id="navlinks">
        <a class="navlink" onClick="scrollTo('#about')">About</a>
        <a class="navlink" onClick="scrollTo('#skills')">Skills</a>
        <a class="navlink" onClick="scrollTo('#experience')">Experience</a>
        <a class="navlink" onClick="scrollTo('#projects')">Projects</a>
        <a class="navlink" onClick="scrollTo('#blog')">Blog</a>
        <a class="navlink" onClick="scrollTo('#contact')">Contact</a>
    </div>
</nav>

<body>    
    <!-- Div that dims the content when the menu is pulled out -->
    <a href="#!"><div id="dimmer" class="dimmer" onClick="closeNav()"></div></a>

    <!-- Main Content -->
    <div id="main">
        <div id="about" class="container">
            <img class="img-circle img-center" style="width:8em; margin-top:2em;" src="../assets/images/portrait.jpg"></img>
            <!-- <div>
                <p class="centered title">Jesse Paterson</p>
                <p class="centered">Developer / Designer</p>
            </div>
            <div class="section-title">
                <p class='centered title'>About</p>
            </div>
            <div class= "section-line"></div> -->
            <div id='about-content'>
                <p class="centered title">Hello! My name is Jesse Paterson.</p>
                <p>
                    I'm a developer in the Bay Area currently pursuing a degree in Computer Science at UC Berkeley. When I'm not wrapping my head around computer vision algorithms or building websites, I like to <a href="http://azura.wikia.com/wiki/Azura_Wikia">build adventure settings</a>, <a href="https://vr.berkeley.edu/">create art with Virtual Reality</a> and <a href="#rock">climb big rocks</a>. I value persistence, integrity and quality.
                </p>
            </div>
            <div class="overlay" id="rock">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                <div class='col-md-4 overlay-img-center'>
                    <img src="../assets/images/about/rock.jpg"></img>
                </div>
                <div class='col-md-4 overlay-img-center'>
                    <img src="../assets/images/about/rock2.jpg"></img>
                </div>
                <div class='col-md-4 overlay-text'>
                    <p class="centered title">
                        Rock Climbing
                    </p>
                    <p>
                        One of my favorite things to do when I need a break from sitting in a chair all day is to go out and climb. I really enjoy how  a difficult climb can push me to my limits leaving me exhausted, but with a major feeling of acomplishment. These pictures are from a trip to Castle Rock with the Cal Climbing Club. 
                    </p>
                </div>
            </div>
        </div>

        <div id="skills">
            <div class="section-title">
                <p class='centered title'>Skills</p>
            </div>
            <div class= "section-line"></div>
            <div class="container">
                <div class="col-md-3">
                    <div class='row'>
                        <p class="centered sub-title">Front-End</p>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' src="../assets/images/skills/HTML5_CSS_JavaScript.png"></img>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' src="../assets/images/skills/responsive_web_design.png"></img>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' style="width:30%; margin-top:1em;" src="../assets/images/skills/ux.png"></img>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='row'>
                        <p class="centered sub-title">Back-End</p>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' src="../assets/images/skills/nodejs.png"></img>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' src="../assets/images/skills/logo-drupal.png"></img>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' src="../assets/images/skills/rails.png"></img>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='row'>
                        <p class="centered sub-title">Languages</p>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' style="padding-top:1em;" src="../assets/images/skills/python.png"></img>
                    </div>
                    <div class='row'>
                        <img class='img-center skill-icon' style="width:50%" src="../assets/images/skills/java-logo.png"></img>
                    </div>
                    <div class='row'>
                        <div style='margin-left:3em;'>
                            <img class='skill-icon' style="width:35%" src="../assets/images/skills/c-logo.png"></img>
                            <img class='skill-icon' style="width:30%" src="../assets/images/skills/csharp.png"></img>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='row'>
                        <p class="centered sub-title">Software</p>

                        <div class='row'>
                            <div style='margin-left:3em;'>
                                <img class='skill-icon' style="width:30%" src="../assets/images/skills/ps.png"></img>
                                <img class='skill-icon' style="width:30%" src="../assets/images/skills/ai.png"></img>
                                <img class='skill-icon' style="width:30%" src="../assets/images/skills/ae.png"></img>
                            </div>
                        </div>
                        <div class='row'>
                            <img class='img-center skill-icon' style="width:50%;" src="../assets/images/skills/unity-logo.png"></img>
                        </div>
                        <div class='row'>
                            <img class='img-center skill-icon' style="margin-top:1em; margin-bottom:1em;" src="../assets/images/skills/maya-logo.png"></img>
                        </div>
                        <div class='row'>
                            <img class='img-center skill-icon' src="../assets/images/skills/SolidWorks.png"></img>
                        </div>
                        <div class='row'>
                            <img class='img-center skill-icon' style="margin-top:-1em;" src="../assets/images/skills/sketch-logo.png"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="experience" class="container">
            <div id='experience-content'>
                <div class="section-title">
                    <p class='centered title'>Experience</p>
                </div>
                <div class= "section-line"></div>
                <p class="centered title"></p>
                <p>
                </p>
            </div>
        </div>

        <div id="projects">
            <div class="section-title">
                <p class='centered title'>Projects</p>
            </div>
            <div class= "section-line"></div>
            <a href="#nature">
                <div class="project-square">
                    <div class="project-teaser">
                        <p class="centered title">Nature</p>
                    </div>
                </div>
            </a>
            <div class="overlay" id="nature">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                <div class='project-content'>
                    nature.berkeley.edu
                </div>
            </div>
            
            <a href="#isaacs">
                <div class="project-square">
                    <div class="project-teaser">
                        <p class="centered title">ISAACS</p>
                    </div>
                </div>
            </a>
            <div class="overlay" id="isaacs">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                ISAACS
            </div>

            <a href="#SIXT33N">
                <div class="project-square">
                    <div class="project-teaser">
                        <p class="centered title">SIXT33N</p>
                    </div>
                </div>
            </a>
            <div class="overlay" id="SIXT33N">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                SIXT33N
            </div>

            <a href="#vxpc">
                <div class="project-square">
                    <div class="project-teaser">
                        <p class="centered title">VXPC</p>
                    </div>
                </div>
            </a>
            <div class="overlay" id="vxpc">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                VXPC
            </div>

            <a href="#WALL-E">
                <div class="project-square">
                    <div class="project-teaser">
                        <p class="centered title">WALL-E</p>
                    </div>
                </div>
            </a>
            <div class="overlay" id="WALL-E">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                WALL-E
            </div>

            <a href="#treachery">
                <div class="project-square">
                    <div class="project-teaser">
                        <p class="centered title">Treachery of Animation</p>
                    </div>
                </div>
            </a>
            <div class="overlay" id="treachery">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                Treachery of Animation
            </div>

            <!-- <a href="#cart">
                <div class="project-square">
                    <div class="project-teaser">
                        <p class="centered title">Cart</p>
                    </div>
                </div>
            </a>
            <div class="overlay" id="cart">
                <div class="exit">
                    <a href="#!"><img src="../assets/images/logos/X_red.svg"></a>
                </div>
                Cart
            </div> -->
        </div>

        <div id="blog">

        </div>
    </div>

    <div id="footer" class="container">
        <p class="centered">Developed and Designed by Jesse Paterson</p>
        <p class="centered">©2016-2017 All Rights Reserved.</p>

        </div>
    </div>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <!-- Adding Font Awesome -->
    <script src="https://use.fontawesome.com/38bdfc4ad6.js"></script> 

    <!-- Personal js file -->
    <script src="../assets/js/index.js"></script>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>