<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head-->

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/root.css" rel="stylesheet">

    <!-- Page Title -->
    <title>Jesse Paterson</title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <div id='favicon'>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="apple-touch-icon" sizes="57x57" href="http://jpaterson.design/assets/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="http://jpaterson.design/assets/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://jpaterson.design/assets/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://jpaterson.design/assets/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://jpaterson.design/assets/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://jpaterson.design/assets/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://jpaterson.design/assets/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://jpaterson.design/assets/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="http://jpaterson.design/assets/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="http://jpaterson.design/assets/favicons/manifest.json">
        <link rel="mask-icon" href="http://jpaterson.design/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="http://jpaterson.design/assets/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="http://jpaterson.design/assets/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="http://jpaterson.design/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </div>
</head>
<body>
    <!-- Sidebar -->
    <span id="sidebar" class="affix">
        <!-- Logo Start-->
        <a id="logo" href="/">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100%" height="100" viewbox="0 5 100 100" enable-background="new 0 0 109.6 106.7" xml:space="preserve" preserveAspectRatio="xMidYMin" class="logo_container">
                <g>
                  <g id="XMLID_1_">
                    <g>
                        <polygon style="fill:#842823;" points="45.3,15.4 90.3,93.3 80.3,93.3 30.3,6.7 89.7,6.7 69.7,41.3 64.7,32.7 74.7,15.4" class="logo"/>
                        <polygon style="fill:#842823;" points="19.7,6.7 69.7,93.3 10.3,93.3 30.3,58.7 35.3,67.3 25.3,84.6 54.7,84.6 9.7,6.7" class="logo"/>
                    </g>
                  </g>
                </g>
            </svg>
        </a>
        <!-- Logo End-->
        <!-- Name & Bio -->
        <h1 class="name">Jesse Paterson</h1>
        <p class="bio">
        </p>
        <!-- End of Name & Bio -->
        <!-- Navigation Start-->
        <nav>
            <ul id="isotope-filter">
                <li data-filter="*"  class="home-selector">
                    <a class="active">HOME</a>
                </li>
                <li data-filter=".code"  class="code-selector">
                    <a class="">CODE</a>
                </li>
                <li data-filter=".design" class="design-selector">
                    <a class="">DESIGN</a>
                </li>
                <li data-filter=".contact"  class="contact-selector">
                    <a class="">CONTACT</a>
                </li>
            </ul>
        </nav>
        <!-- Navigation End -->
    </span>
    <!-- Sidebar End-->
    <!-- Content Start-->
    <span id="content_container">
        <div class="grid">
            <div id='banner_image' class="grid-item width4 code design banner">
                <div class="number">-9000</div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="100%" height="300" viewbox="0 5 612 792" enable-background="new 0 0 612 792" xml:space="preserve" preserveAspectRatio="xMidYMin" style='background-color:#faf9f9;'>
                    <g id="Layer_1_1_">
                        <polygon fill="#418088" points="271.2,184.2 527.6,628.3 508.8,660.9 485.4,661 179.4,131 505.4,130.9 536,143.5 416.6,349.9 
                            393,349.9 374.2,317.3 451.2,184.2   "/>
                        <polygon fill="#842823" points="97.3,131 127.9,143.7 426.6,661 86.4,661 67.5,652.7 189.3,442.2 212.9,442.2 231.7,474.8 
                            154.8,607.8 334.8,607.8 59.4,131    "/>
                    </g>
                    <g id="Layer_4">
                        <polyline fill="#EED1B7" points="59.4,131 334.8,607.8 369.5,627.9 90,143.7  "/>
                        <polyline fill="#85A5AE" points="179.5,131.4 485.4,660.9 508.8,660.9 210.1,144.1    "/>
                        <polyline fill="#85A5AE" points="474.7,184.3 397.8,317.3 374.2,317.3 451.1,184.4    "/>
                        <polyline fill="#EED1B7" points="212.9,442.2 86.4,661 67.5,652.7 189.3,442.2    "/>
                    </g>
                    <g id="Layer_2">
                        <ellipse fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="244.8" cy="607.8" rx="0" ry="90"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="86.4" y1="661" x2="426.6" y2="661"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="127.9" y1="143.7" x2="426.6" y2="661"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="90" y1="143.7" x2="369.5" y2="627.9"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="59.4" y1="131" x2="334.8" y2="607.8"/>
                        <line fill="none" x1="59.4" y1="131" x2="120.6" y2="131"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="127.9" y1="143.7" x2="97.3" y2="131"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="59.4" y1="131" x2="90" y2="143.7"/>
                        <ellipse fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="256.4" cy="627.9" rx="0" ry="113.2"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="143.2" y1="627.9" x2="231.7" y2="474.8"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="189.3" y1="442.2" x2="67.5" y2="652.7"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="212.6" y1="442.2" x2="86.4" y2="661"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="86.4" y1="661.5" x2="67.5" y2="652.7"/>
                        <polyline fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" points="59.4,131 90,143.7 127.9,143.7    "/>
                        <ellipse fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="78.3" cy="131" rx="0" ry="19"/>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="212.9" y1="442.2" x2="231.7" y2="474.8"/>
                        <ellipse fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="201.1" cy="442.2" rx="0" ry="11.8"/>
                        <polyline fill="#EED1B7" stroke="" stroke-width="5" stroke-miterlimit="10" points="369.5,627.9 143.2,627.9 154.8,607.8 
                            334.8,607.8 369.5,627.9     "/>
                    </g>
                    <g id="Layer_3">
                        <g>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="210.1" y1="143.5" x2="179.5" y2="130.9"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="536" y1="143.5" x2="505.4" y2="130.9"/>
                            <ellipse fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="372.9" cy="184.4" rx="0" ry="101.8"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="179.5" y1="131.4" x2="485.4" y2="661.1"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="508.8" y1="660.9" x2="210.1" y2="143.5"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="527.6" y1="628.3" x2="271.2" y2="184.4"/>
                            <line fill="none" x1="546.6" y1="661.1" x2="485.4" y2="661.1"/>
                            <polyline fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" points="374.2,317.3 451.1,184.4 474.7,184.3 
                                397.8,317.3         "/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="416.6" y1="349.9" x2="536" y2="143.5"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="393" y1="349.9" x2="374.2" y2="317.3"/>
                            <ellipse fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="404.8" cy="349.9" rx="0" ry="11.8"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="485.4" y1="660.9" x2="508.8" y2="660.9"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="508.8" y1="660.9" x2="527.6" y2="628.3"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="397.8" y1="317.3" x2="416.6" y2="349.9"/>
                            <ellipse fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="386" cy="317.3" rx="0" ry="11.8"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="536" y1="143.5" x2="210.1" y2="143.5"/>
                            <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="505.4" y1="130.9" x2="179.5" y2="130.9"/>
                        </g>
                        <line fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" x1="374.2" y1="317.3" x2="397.8" y2="317.3"/>
                    </g>
                </svg></div>
            <div id='projects'>
                <div class="grid-item code col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5   </div>
                    <img class='grid-item-image col-md-12' src="assets/images/Wall-E/Wall-E.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>WALL-E</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                A remote controlled telepresence tank that connects an Oculus to a camera which rotates in sync with the user's head.
                            </div>
                            <div class="grid-item-description">
                                A VR telepresence tank controlled remotely through a Node.js server.
                                We used a Raspberry Pi and Arduino on board to remotely connect an Oculus to a camera that rotates in sync with the user's head. Started at Treehacks, it has since been repurposed to become <a href='http://www.adawarp.com'>Adawarp</a> and is currently funded by <a href='https://rothenbergventures.com/'>Rothenburg Ventures</a>
                            </div>
                            <div class="grid-item-skills">
                                Skills: Arduino, C#, Node.js, Oculus, Unity, Raspberry Pi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item code design col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5</div>
                    <img class='grid-item-image col-md-12' src="assets/images/Drone/Isaacs.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>ISAACS</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                An open-source project to envision new ways for human users to intuitively interface and collaborate with aerial drones around augmented reality (AR) technologies.
                            </div>
                            <div class="grid-item-description">
                                ISAACS is an open-source project to envision new ways for human users to intuitively interface and collaborate with aerial drones around augmented reality (AR) technologies.
                                
                                ISAACS utilizes real-time SLAM solutions to localize the 3D coordinates of aerial vehicles and the operators wearing HoloLens. The first version of the platform will be developed in collaboration also with DJI based on the Matrice-100 platform.
                            </div>
                            <div class="grid-item-skills">
                                Skills: C#, Unity, Drone controls, 3d Interface Design
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item design col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5</div>
                    <img class='grid-item-image col-md-12' src="assets/images/kickgrass/kickgrass_logo.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>KICK GRASS<br>INITIATIVE</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                Project submitted for the 2014 CMYK Designathon
                            </div>
                            <div class="grid-item-description">
                                The goal for this designathon was to create content that would spread awareness about water conservation.
                            </div>
                            <div class="grid-item-skills">
                                Skills: Photoshop, Illustrator
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item design col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5</div>
                    <img class='grid-item-image col-md-12' src="assets/images/branchscape/branchscape_square.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>BRANCHSCAPE</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                An International Online Community dedicated to creating immense virtual structures in teams.
                            </div>
                            <div class="grid-item-description">
                                I founded and maintained an active international video game community with over 100 members and a comprehensive organizational system. I also ran and coordinated large events for an active community which contributed over 3000 posts on the community forum. <a href='http://www.planetminecraft.com/project/branchscape/'>Learn more...</a> 
                            </div>
                            <div class="grid-item-skills">
                                Skills: Leadership, Organization, and 3d Visualization
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Projects End -->
            <!-- Contact -->
            <div id='contact'>
                <div class="grid-item contact code design col-xs-12 col-sm-12 col-md-12">
                    <div class="number">6</div>
                </div>
            </div>
            <!-- Contact End -->
        </div>
        <!-- Grid End -->
    </span>
    <!-- Content End -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Isotope -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/jquery.isotope.js"></script>
</body>
</html>
