<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/root.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>JP</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

  </head>

  <body>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="25" height="25" viewbox="0 0 50 50" enable-background="new 0 0 109.6 106.7" xml:space="preserve">
    <g>
      <g id="XMLID_1_">
        <g>
          <polygon points="51,19.1 96,97.1 86,97.1 36,10.5 95.5,10.5 75.5,45.1 70.5,36.5 80.5,19.1      "/>
          <polygon points="25.5,10.5 75.5,97.1 16,97.1 36,62.4 41,71.1 31,88.4 60.5,88.4 15.5,10.5      "/>
        </g>
        <g>
        </g>
      </g>
    </g>
    </svg>
    <h3 class="brand">JP
    </h3>
    <nav>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>

    <p>
      
      Website currently under development

    </p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>