<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head-->

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/root.css" rel="stylesheet">

    <!-- Page Title -->
    <title>Jesse Paterson</title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <div id='favicon'>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="apple-touch-icon" sizes="57x57" href="http://jpaterson.design/assets/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="http://jpaterson.design/assets/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://jpaterson.design/assets/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://jpaterson.design/assets/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://jpaterson.design/assets/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://jpaterson.design/assets/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://jpaterson.design/assets/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://jpaterson.design/assets/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="http://jpaterson.design/assets/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="http://jpaterson.design/assets/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="http://jpaterson.design/assets/favicons/manifest.json">
        <link rel="mask-icon" href="http://jpaterson.design/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="http://jpaterson.design/assets/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="http://jpaterson.design/assets/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="http://jpaterson.design/assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </div>
</head>
<body>
    <!-- Sidebar -->
    <span id="sidebar" class="affix">
        <!-- Logo Start-->
        <a id="logo" href="/">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100%" height="100" viewbox="0 5 100 100" enable-background="new 0 0 109.6 106.7" xml:space="preserve" preserveAspectRatio="xMidYMin" class="logo_container">
                <g>
                  <g id="XMLID_1_">
                    <g>
                        <polygon style="fill:#842823;" points="45.3,15.4 90.3,93.3 80.3,93.3 30.3,6.7 89.7,6.7 69.7,41.3 64.7,32.7 74.7,15.4" class="logo"/>
                        <polygon style="fill:#842823;" points="19.7,6.7 69.7,93.3 10.3,93.3 30.3,58.7 35.3,67.3 25.3,84.6 54.7,84.6 9.7,6.7" class="logo"/>
                    </g>
                  </g>
                </g>
            </svg>
        </a>
        <!-- Logo End-->
        <!-- Name & Bio -->
        <h1 class="name">Jesse Paterson</h1>
        <p class="bio">
        </p>
        <!-- End of Name & Bio -->
        <!-- Navigation Start-->
        <nav>
            <ul id="isotope-filter">
                <li data-filter="*"  class="home-selector">
                    <a class="active">HOME</a>
                </li>
                <li data-filter=".code"  class="code-selector">
                    <a class="">CODE</a>
                </li>
                <li data-filter=".design" class="design-selector">
                    <a class="">DESIGN</a>
                </li>
                <li data-filter=".contact"  class="contact-selector">
                    <a class="">CONTACT</a>
                </li>
            </ul>
        </nav>
        <!-- Navigation End -->
    </span>
    <!-- Sidebar End-->
    <!-- Content Start-->
    <span id="content_container">
        <div class="grid">
            <div id='banner_image' class="grid-item width4 contact code design banner">
                <div class="number">-9000</div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="100%" height="300" viewbox="0 10 625 300" enable-background="new 0 0 612 792" xml:space="preserve" preserveAspectRatio="xMidYMin" style='background-color:#faf9f9;'>
                    <path fill="none" d="z"/>
                    <g id="Layer_1_1_">
                        <polygon fill="#418088" points="292.8,72.9 389.9,241.1 382.8,253.4 374,253.5 258,52.7 381.5,52.7 393.1,57.5 347.9,135.6 
                            339,135.6 331.8,123.3 361,72.9  "/>
                        <polygon fill="#842823" points="226.9,52.7 238.5,57.5 351.7,253.5 222.8,253.5 215.7,250.3 261.8,170.6 270.7,170.6 277.9,183 
                            248.7,233.3 316.9,233.3 212.6,52.7  "/>
                    </g>
                    <g id="Layer_4">
                        <polyline fill="#EED1B7" points="212.6,52.7 316.9,233.3 330.1,240.9 224.2,57.5  "/>
                        <polyline fill="#85A5AE" points="393.1,57.5 381.5,52.7 258,52.7 374,253.4 382.8,253.4 269.7,57.7    "/>
                        <polyline fill="#85A5AE" points="369.9,72.9 340.8,123.3 331.8,123.3 361,73  "/>
                        <polyline fill="#EED1B7" points="270.7,170.6 222.8,253.5 215.7,250.3 261.8,170.6    "/>
                    </g>
                    <g id="Layer_2">
                        <path fill="#EED1B7" d="M282.8,199.2"/>
                        <path fill="#EED1B7" d="M282.8,233.3"/>
                        <path fill="#EED1B7" d="M282.8,233.3"/>
                        <line fill="#EED1B7" x1="222.8" y1="253.5" x2="351.7" y2="253.5"/>
                        <line fill="#EED1B7" x1="238.5" y1="57.5" x2="351.7" y2="253.5"/>
                        <line fill="#EED1B7" x1="224.2" y1="57.5" x2="330.1" y2="240.9"/>
                        <line fill="#EED1B7" x1="212.6" y1="52.7" x2="316.9" y2="233.3"/>
                        <line fill="#EED1B7" x1="212.6" y1="52.7" x2="235.8" y2="52.7"/>
                        <polyline fill="#EED1B7" points="212.6,52.7 224.2,57.5 238.5,57.5 226.9,52.7 238.5,57.5     "/>
                        <polyline fill="#EED1B7" points="212.6,52.7 226.9,52.7 238.5,57.5 224.2,57.5    "/>
                        <path fill="#EED1B7" d="M287.2,240.9"/>
                        <path fill="#EED1B7" d="M287.2,283.8"/>
                        <path fill="#EED1B7" d="M287.2,240.9"/>
                        <path fill="#EED1B7" d="M287.2,198.1"/>
                        <line fill="#EED1B7" x1="244.3" y1="240.9" x2="277.9" y2="183"/>
                        <line fill="#EED1B7" x1="261.8" y1="170.6" x2="215.7" y2="250.3"/>
                        <line fill="#EED1B7" x1="270.6" y1="170.6" x2="222.8" y2="253.5"/>
                        <line fill="#EED1B7" x1="222.8" y1="253.7" x2="215.7" y2="250.3"/>
                        <ellipse fill="#EED1B7" cx="219.8" cy="52.7" rx="0" ry="7.2"/>
                        <line fill="#EED1B7" x1="270.7" y1="170.6" x2="277.9" y2="183"/>
                        <path fill="#EED1B7" d="M266.3,170.6c0,2.5,0,4.5,0,4.5S266.3,173.1,266.3,170.6"/>
                        <polyline fill="#EED1B7" points="330.1,240.9 244.3,240.9 248.7,233.3 316.9,233.3 330.1,240.9    "/>
                    </g>
                    <path fill="none" d="z"/>
                </svg></div>
            <div id='projects'>
                <div class="grid-item code col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5</div>
                    <img class='grid-item-image col-md-12' src="assets/images/Wall-E/Wall-E.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>WALL-E</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                A remote controlled telepresence tank which remotely syncs an onboard camera to an Oculus through a Node.js Server.
                            </div>
                            <div class="grid-item-description">
                                A VR telepresence tank controlled remotely through a Node.js server.
                                We used a Raspberry Pi and Arduino on board to remotely connect an Oculus to a camera that rotates in sync with the user's head. Started at Treehacks, it has since been repurposed to become <a href='http://www.adawarp.com'>Adawarp</a> and is currently funded by <a href='https://rothenbergventures.com/'>Rothenburg Ventures</a>
                            </div>
                            <div class='grid-item-details'>
                                <div class="grid-item-skills col-sm-4 col-md-4">
                                    Skills
                                    <br>
                                    Arduino, C#, Node.js, Oculus, Unity, Raspberry Pi
                                </div>
                                <div class="grid-item-time col-sm-4 col-md-4">
                                    Time
                                    <br>
                                    36 hrs
                                </div>
                                <div class="grid-item-client col-sm-4 col-md-4">
                                    Client
                                    <br>
                                    Treehacks, Self
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item code design col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5</div>
                    <img class='grid-item-image col-md-12' src="assets/images/Drone/Isaacs.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>ISAACS</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                An open-source project to envision new ways for human users to intuitively interface and collaborate with aerial drones around augmented reality (AR) technologies.
                            </div>
                            <div class="grid-item-description">
                                ISAACS is an open-source project to envision new ways for human users to intuitively interface and collaborate with aerial drones around augmented reality (AR) technologies.
                                
                                ISAACS utilizes real-time SLAM solutions to localize the 3D coordinates of aerial vehicles and the operators wearing HoloLens. The first version of the platform will be developed in collaboration also with DJI based on the Matrice-100 platform.
                            </div>
                            <div class='grid-item-details'>
                                <div class="grid-item-skills col-sm-4 col-md-4">
                                    Skills: C#, Unity, Drone controls, 3d Interface Design
                                </div>
                                <div class="grid-item-time col-sm-4 col-md-4">
                                    Time: 120 hrs
                                </div>
                                <div class="grid-item-client col-sm-4 col-md-4">
                                    Client: VR@Berkeley, Self
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item design col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5</div>
                    <img class='grid-item-image col-md-12' src="assets/images/kickgrass/kickgrass_logo.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>KICK GRASS<br>INITIATIVE</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                Project submitted for the 2014 CMYK Designathon
                            </div>
                            <div class="grid-item-description">
                                The goal for this designathon was to create content that would spread awareness about water conservation.
                            </div>
                            <div class='grid-item-details'>
                                <div class="grid-item-skills col-sm-4 col-md-4">
                                    Skills: Photoshop, Illustrator
                                </div>
                                <div class="grid-item-time col-sm-4 col-md-4">
                                    Time: 6 hrs
                                </div>
                                <div class="grid-item-client col-sm-4 col-md-4">
                                    Client: CMYK Designathon, Self
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item design col-xs-12 col-sm-6 col-md-3 closed">
                    <div class="number">5</div>
                    <img class='grid-item-image col-md-12' src="assets/images/Branchscape/branchscape_square.jpg" class="grid-image"></img>
                    <div class="grid-item-content col-md-12 col-sm-12">
                        <h2 class='title'>BRANCHSCAPE</h2>
                        <div class="grid-item-text">
                            <div class="grid-item-teaser">
                                An International Online Community dedicated to creating immense virtual structures in teams.
                            </div>
                            <div class="grid-item-description">
                                I founded and maintained an active international video game community with over 100 members and a comprehensive organizational system. I also ran and coordinated large events for an active community which contributed over 3000 posts on the community forum. <a href='http://www.planetminecraft.com/project/branchscape/'>Learn more...</a> 
                            </div>
                            <div class='grid-item-details'>
                                <div class="grid-item-skills col-sm-4 col-md-4">
                                    Skills: Leadership, Organization, and 3d Visualization
                                </div>
                                <div class="grid-item-time col-sm-4 col-md-4">
                                    Time: 3 months in game
                                </div>
                                <div class="grid-item-client col-sm-4 col-md-4">
                                    Client: Self
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Projects End -->
            <!-- Contact -->
            <div id='contact'>
                <div class="grid-item contact code design width4">
                    <div class="number">6</div>
                    <div class="contact-container col-xs-12 col-sm-3 col-md-4">
                        <div class='contact-logo'>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40.5 40.5" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <path fill="#959595" d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2 M20,0C9,0,0,9,0,20c0,11,9,20,20,20
                                            c11,0,20-9,20-20C40,9,31,0,20,0L20,0z"/>
                                    </g>
                                </g>
                                <g>
                                    <path fill="#959595" d="M25.2,30.4c-1.9,0.9-3.8,1.3-6.1,1.3c-5.5,0-10.3-4-10.3-10.5c0-6.9,4.9-12.8,12.4-12.8
                                        c5.9,0,10,4.1,10,9.7c0,5-2.8,8-6.2,8c-1.5,0-2.7-0.8-2.7-2.8h-0.1c-1.1,1.8-2.6,2.8-4.5,2.8c-2.1,0-3.7-1.6-3.7-4.3
                                        c0-4.1,3.2-7.9,7.9-7.9c1.5,0,3,0.3,3.8,0.8l-1.1,6.1C24.2,23,24.5,24,25.6,24c1.6,0.1,3.4-2,3.4-5.8c0-4.6-2.9-8-8.1-8
                                        c-5.3,0-9.8,4.1-9.8,10.7c0,5.6,3.6,8.9,8.6,8.9c1.8,0,3.6-0.4,5-1.1L25.2,30.4z M22.8,16.3c-0.3-0.1-0.8-0.2-1.3-0.2
                                        c-2.6,0-4.6,2.5-4.6,5.3c0,1.4,0.6,2.3,1.9,2.3c1.6,0,3.1-2,3.4-4L22.8,16.3z"/>
                                </g>
                            </g>
                            </svg>
                        </div>
                        <div class='info'>jesse.r.pat@berkeley.edu</div>
                    </div>
                    <div class="contact-container col-xs-12 col-sm-3 col-md-4">
                        <div class='contact-logo'>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40.5 40.5" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <g>
                                            <path fill="#959595" d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2 M20,0C9,0,0,9,0,20c0,11,9,20,20,20
                                                c11,0,20-9,20-20C40,9,31,0,20,0L20,0z"/>
                                        </g>
                                    </g>
                                </g>
                                <path fill="#959595" d="M14.4,9.8c1.2-0.2,2,1.1,2.6,2.1c0.6,0.9,1.3,2,1,3.2c-0.2,0.7-0.8,1-1.2,1.4c-0.4,0.4-1.1,0.7-1.3,1.3
                                    c-0.3,1,0.3,2,0.7,2.6c0.8,1.3,1.8,2.5,3.1,3.5c0.6,0.5,1.5,1.2,2.4,1c1.3-0.3,1.6-1.9,3-2.1c1.3-0.2,2.2,0.8,3,1.4
                                    c0.7,0.6,1.9,1.4,1.8,2.5c0,0.6-0.5,1-1,1.4c-0.4,0.4-0.8,0.8-1.3,1.1c-1.1,0.7-2.3,1-3.8,1c-1.5,0-2.6-0.5-3.7-1.1
                                    c-2.1-1.1-3.7-2.6-5.2-4.3c-1.5-1.7-2.9-3.7-3.7-5.9c-1-2.8-0.5-5.6,1.1-7.4c0.3-0.3,0.7-0.6,1.1-0.9C13.5,10.3,13.8,9.9,14.4,9.8z
                                    "/>
                            </g>
                            </svg>
                        </div>
                        <div class='info'>(512) 914-1246</div>
                    </div>
                    <div class="contact-container col-xs-12 col-sm-3 col-md-4">
                        <div class='contact-logo'>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 40.5 40.5" enable-background="new 0 0 40.5 40.5" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <path fill="#959595" d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2 M20,0C9,0,0,9,0,20c0,11,9,20,20,20
                                            c11,0,20-9,20-20C40,9,31,0,20,0L20,0z"/>
                                    </g>
                                </g>
                                <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)">
                                    <path id="node1" fill="#959595" d="M192.4,2931.9c-2.1-1.2-9.3-7.8-16.2-14.6l-12.6-12.6l15-15.1l15-15l5.4,0.3
                                        c13,0.8,23.6-10,22.1-22.6l-0.5-4.8L235,2833l14.5-14.5l3.7,0.5c19.5,2.9,31.3-20.3,18-35.1c-2.6-2.9-10.2-6.3-14-6.3
                                        c-7.9,0-15.5,4.6-19,11.8c-2.4,4.8-3.1,12.3-1.4,15c0.6,1.1-2.1,4.2-12.3,14.6c-7.2,7.2-13.4,13.1-13.8,13.1
                                        c-0.4,0-0.7-15.8-0.7-35.1v-35.2l3.7-2.9c5.3-4.2,8.3-11.2,7.7-17.4c-1.5-15.2-16.4-23.6-29.9-16.9c-13.8,6.9-15.2,26-2.4,35.2
                                        l3,2.2l0.1,36.6v36.7l-2.8,1.6c-6.5,3.8-10.9,14.5-8.9,21.5l1,3.6l-15.1,15.1l-15,15l-40.5-40.5c-25-25.1-41.3-42-42.5-44.4
                                        c-2.6-4.9-2.6-9,0.1-14.3c3.3-6.3,120-122.6,125.6-125.1c4.8-2.2,8.2-2.2,12.8-0.3c5.1,2.3,123.5,120.8,125.8,125.9
                                        c2.1,4.9,2.1,7.7-0.2,12.7c-2.5,5.5-118.9,122.3-125.1,125.6C201.7,2934.5,197,2934.5,192.4,2931.9z"/>
                                </g>
                            </g>
                            </svg>

                        </div>
                        <div class='info'><a href='https://github.com/j-paterson'>github.com/j-paterson</a></div>
                    </div>
                </div>
            </div>
            <!-- Contact End -->
        </div>
        <!-- Grid End -->
    </span>
    <!-- Content End -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Isotope -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/jquery.isotope.js"></script>
</body>
</html>
