html,
body {
  
}
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 750px; 
    height: 500px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > img { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

h1{
  font-size: 32px;
}

.name{
  text-align: center;
  font-size:4.5em;
}

.bio{
  text-align: center;
  width: 50%;
  margin: auto;
  font-size:1.5em;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  
}

.nav > li {
  display: inline-block;
}
.nav > li + li {
  margin-left: 20px;
}

.nav{
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

