
/*General
=========================================*/
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

li{
  list-style:none;
}

li, h1, h2{
  font-family: 'Cantarell', sans-serif;
}

html,
body a{
  font-weight: bold;
  color: #842823;
}

html,
body a:hover{
  font-weight: bold;
  color: #eed1b7;
}

/* Sidebar Area
=========================================*/
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {
  span#sidebar{
    display:none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
  #sidebar {
    margin-top:20px;
    vertical-align: top;
    padding: 18px 0 0 4%;
    margin-right: -1px;
    border-right: 1px solid #44575a;
  }

  #sidebar.affix {
    position:fixed;
    height:50%;
    width:20%;
  }

  .name{
    text-align: center;
    font-size: 1.5em;
    font-weight:400;
  }

  .bio{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size:1em;
  }

  .logo_container{
    margin-top:20px;
  }

  .logo {
    display:inline-block;
    margin:auto;
  }
}
/* Nav Area
=========================================*/
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {
  .menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-left: 8px;
    margin-top: -0.50em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
  }
   
  .menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: rgb(0,0,0);
    z-index: 99;
  }
   
  .responsive-menu{
    display: none;
  }
   
  .expand {
    display: block !important; 
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
  .mobile-nav{
    display:none;
  }

  nav ul li{
    cursor: pointer;
    padding-top:5px;
    padding-bottom:5px;
    list-style-type:none;
  }

  nav ul li a:link, a:hover, a:active, a:visited{
    text-decoration:none;
    color:#44575a;
    font-size:1em;
    font-weight:300;
  }

  nav ul li:first-child{
    margin-left: 30px;
    padding-left:0;
  }

  nav ul li:nth-child(1n+2){
    border-left: 2px solid 

  #eed1b7;
    padding-left:5px;
    margin-left:45px;
  }

  .border_selected{
    border-left: 2px solid #842823 !important;
  }
}

/*General Content Area
=========================================*/
@media only screen and (max-width : 768px) {
  #content_container{
    display: inline-block;
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
  #content_container{
    display: inline-block;
    width: 80%;
    margin-left:20%;
  }
}

/*Borders Area
=========================================*/
#banner_image{ 
  padding:0 !important;
  background-color:#418088;
  border-bottom: 2px solid #418088;
}
html, body { border-top: 2px solid #eed1b7; }

/* Grid Item Background
=========================================== */
.grid-item-image{
  position:relative;
  max-width:100%;
  opacity: 0.4;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  padding:0 !important;
}
/* Grid Items
=========================================== */
.number{
  display:none;
}

.grid-item-content{
  position: absolute;
  left: 0;
  top: 0;
  max-width:100%;
  padding:5px;
  color:white;
}

.grid-item-content h2{
  margin-top:20%;
  text-align:center;
}

.grid-item-text{
  padding:8%;
  padding-top:2%;
  color:#faf9f9;
}
.grid-item-teaser{
  color:#faf9f9;
  text-align:center;
}
.grid-item-description{
  display:none;
  color:#faf9f9;
}
.grid-item-details{
  display:none;
  color:#faf9f9;
  margin-top: 2%;
}

/* Grid Projects
=========================================== */
#projects{
  margin-left:5px;
  margin-right:5px;
  display:inline-block;
}

#projects .grid-item{ 
  cursor: pointer;
  padding:5px;
  background-clip: content-box;
  background-color:black;
  position:relative;
  z-index:1;
}

.width2 { width: 50%; }
.width3 { width: 75%; }
.width4 { width:100%; }

/* lazy class and the added height/width of 1000/2000 
on each of the grid-item-images ensures that isotope and bootstrap
give the images enoughspace -- preventing overlap when images are loading */

img.lazy {
    max-width: 100%;
    height: auto;
}

/* Grid Projects Expansion
=========================================== */
.opened .grid-item{
  position:relative;
  z-index:2;
}

div .opened{
  background-color:#418088 !important;
}

.opened .grid-item-content h2{
  margin-top:5%;
}
.opened .grid-item-content{
  position: relative;
  max-width:100%;
  margin:0;
  padding:0;
  color:white;
}
.opened .grid-item-image{
  clip:auto;
  opacity: 1.0;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: alpha(opacity=0);
}
.opened .grid-item-teaser{
  display:none;
}
.opened .grid-item-description{
  display:inline-block;
}
.opened .grid-item-details{
  display:inline-block;
}

/* Contact
=========================================== */
.info{
  margin-top:10%;
  margin-bottom:10%;
  font-weight: bold;
  color: #842823;
  text-align: center;
  font-size: 12pt;
}

.info a:hover{
  color: #959595;
}

.contact-logo{
  width:20%;
  margin:auto;
  padding-top:10%;
}

.contact{
  padding:5%;
  height:auto !important;
  min-height: 250px;
  background-color:#eed1b7;
  display: inline-block;
}

/* This button is almost exclusively for the 404 page, but 
could be used elsewhere later.*/

#button{
  background-color: #418088;
  border: none;
  color: white;
  margin-top:10px;
  margin-bottom:60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.four-title{
  text-align: center;
  margin-top:0;
  padding-top:0;
  margin-bottom:2%;
  color:#842823;
}
