/* Sitewide CSS */
svg{
  width: 100%;
  height: auto;
}

#root, body, html{
  font-family: "Cerebri Sans", Avenir, Helvetica, Segoe UI, sans-serif;
	line-height: 1.15;
  font-size: 14px;
	max-height: 100vh;
	background-color: #282727;
	color: #aeaeae;
}

body {
  margin: 0px;
  padding: 0;
}

a{
	color:#94ACB0;
}

a:hover{
	color:#7b8e94;
}

.main{
	float:left;
	width:100%;
	margin-top:5em;
}

.content{
	margin: 0 5% 0 5%;
}


.title{
	color: #B99458
}

/* Home Page CSS */

.home{
}

.intro{
  text-align:center;
}

.portrait{
  width:60%;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (min-width: 640px){
  .intro{
    margin:8em 0 10% 20%;
    text-align:left;
    width:30%;
    float:left;
  }

  .portrait{
    margin:8em 10% 0 10%;
    width:30%;
    float:right;
  }
}

.iam{
	color:#7b8e94;
}

.main-title{
	color: #B99458;
  font-family: 'Roboto', sans-serif !important;
}

/* Header CSS */
.header{
  position: fixed;
  z-index:1;
  background-color: #282727;
  opacity:0.8;
  width: 100%;
}
.header img{
  max-height:1.5rem;
  margin:1.75rem;
  float:left;
}
.header ul{
  list-style: none;
  display: block;
  float: left;
  padding:0;
  width:calc(100% - 1.5rem - 1.75rem - 1.75rem - 1.75rem - 1.75rem - 1.5rem);
}
.header ul li{
  float: right;
  text-align:center;
  width:100%;
}
.header ul li a{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-decoration-line:none;
  color:#94ACB0;
  display: none;
  text-align:center;
  margin: 1rem 2rem 1rem 2rem;
}

.header ul li a:hover{
  color:#7b8e94;
}

.header ul li a.active{
    color: #B99458 !important;
    visibility: visible;
    display: block;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  float:right;
  margin: 1.75rem;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 0.75rem;
  left: 0.05rem;
  right: 0.05rem;
  height: 0.2rem;
  background: #7b8e94;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #7b8e94;
  content: "";
}

.c-hamburger span::before {
  top: -0.5rem;
}

.c-hamburger span::after {
  bottom: -0.5rem;
}

.c-hamburger--htx {
  background-color: #282727;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span,
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-delay: 0s, 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #282727;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.header ul.is-active li{
  float:right;
}

.header ul li{
  transition-property: display;
}

.header ul.is-active li a {
  transition-duration: 0.3s;
  transition-delay: 0s;
  display: block;
}

@media screen and (min-width: 640px) {
  .header ul{
    float:right;
    width:auto
  }
  .header ul li{
    text-align:left;
    width: auto;
    float:left;
  }
  .header ul li a{
    display: block;
    visibility: visible;
  }
  .c-hamburger{
    display:none;
  }
}

/* Projects CSS */
.project-item{
  margin-top:2em;
}

.goBack{
  font-size:2em;
}

.goBack a{
	text-decoration-line:none;
}

ul.projects-grid{
	margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
	list-style: none;
}

li.project{
	display: block;
	text-align: center;
	overflow:hidden;
	margin:1em 0 1em 0;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  ul.projects-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  li.project{
    width: 50%;
		margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  li.project {
    width: calc(100% / 3);
		margin:0;
  }
}

li.project div.title{
	width:100%;
  height:100%;
	font-size: 1.1em;
	text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

	background: rgb(25, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(25, 25, 25, .8);
	transition: 1s ease;
	-webkit-transition: all 1s ease;
}

li.project div.title:hover{
	background: rgba(25, 25, 25, 0.5);
	transition: 1s ease;
	-webkit-transition: all 1s ease;
}

li.project img{
	position: relative;
	max-width: 100%;
	display: flex;
  justify-content: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 120px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.invisible{
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.visible{
  visibility:visible;
  opacity:1;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
